body {
  margin: 0px;
}
nav {
  padding: 24px;
  text-align: right;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: auto;
  padding-right: auto;
}

.container {
    width: 1347px;
}

#logo{
 float: left;
 position: relative;
 bottom: 30px;
}

#menu {
  background: #3fa46a;
}

#menu li{
  list-style: none;
  display: inline-block;
  text-align: right;
  padding: 15px 0;
  margin: 0 20px;
}

.link{
  transition: 0.4s ease;
  background: #3fa46a;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;
  padding: 20px 0;
}
.link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}

/* - INDEX - */

#content_top{
  position: block;
  text-align: center;
  margin-top: 150px;
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
  margin-left: 300px;
  margin-right: 300px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  padding-bottom: 40px;
  overflow: hidden;
}

#content_top h1{
  color: darkblue;
  font-weight: 400;
  font-size: 2.18m;
}

#content_top h3{
  font-weight: normal;
}

#search_index input{
  font-size: 15px;
  height: 35px;
  width: 300px;
  margin-left: 30px;
}

#search_index button{
  background: url(../_images/search_icon.jpg) no-repeat center center;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  right: 30px;
  bottom: 5px;
}

#content_mid{
  background:rgb(39,73,149);
  display: block;
  margin-top: 300px;
  margin-bottom: 100px;
  padding: 50px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

#content_mid h1{
  position: relative;
  color: #ffffff;
  left:400px;
  bottom: 50px;
  font-size: 2.1875em;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 400;
  width: 60%;
}

#content_mid h2{
  position: relative;
  left:460px;
  bottom: 70px;
  font-family: 'Open Sans',Arial,sans-serif;
  color: #ffffff;
  font-weight: lighter;
  font-size: 18px;
  width: 60%;
}

#content_mid_in li{
  list-style: none;
  float: left;
  font-size: 1.1875em;
  color: #ffffff;
  text-align: center;
  position: relative;
  bottom: 50px;
}

#content_mid_in img{
  border-radius: 100%;
  margin:0px 100px 20px 100px;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
}

#content_mid a{
  text-decoration: none;
  padding: 20px;
  text-align: center;
  background: lightgray;
  color: gray;
  font-size: 25px;
  border-radius: 20px;
  font-family: 'Open Sans',Arial,sans-serif;
  margin-left: 360px;
  margin-bottom : 300px;
  width: 400px;
  font-weight: 700;
  position: relative;
  left: 180px;
}

#content_mid a:hover{
  background: #ffffff;
}

#content{
  background: url(../_images/main.jpg);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

/* - FIM INDEX - */


/* - VAGAS - */

#header_vagas{
  width: 90%;
  overflow: hidden;
  color: #474747;
  padding: 20px;
  margin-left: 5%;
}

#vagas_content_left{
  width: 15%;
  margin-left: 5%;
}

#vagas_content_left p{
  color: #4c4c4c;
  font-size: 13px;
}

#vagas_content_left h4{
  text-align: center;
  font-family: "Titillium Web",sans-serif;
  font-size: 12px;
  cursor: pointer;
  color: #4b97b9;
}

#vagas_content_right{
  width: 70%;
  margin-left: 21%;
  margin-bottom: 10px;
  bottom: 825px;
  position: relative;
}

#search_vagas input{
  font-size: 15px;
  height: 35px;
  width: 70%;
  margin-left: 30px;
}

#search_vagas button{
  background: url(../_images/search_icon.jpg) no-repeat center center;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  right: 30px;
  bottom: 7px;
}

.frame{
  background: #e6e6e6;
}

.jobs h4{
  font-size: 16px;
  font-weight: normal;
  line-height: 0;
  margin-bottom: -10px;
}

.jobs h5{
  color: #8c8c8c;
  font-size: 14px;
}

.jobs h6{
  font-family: "Titillium Web",sans-serif;
  color: #4b97b9;
}

.jobs p{
  color: #474747;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.467em;
}

.jobs a{
  color: #47ac82;
  text-decoration-color: none;
  text-decoration: none;
}

.jobs span{
  padding: 20px;
  text-align: center;
  background: lightgray;
  color: gray;
  font-size: 25px;
  border-radius: 20px;
  font-family: 'Open Sans',Arial,sans-serif;
  margin-left: 360px;
  width: 400px;
  font-weight: 700;
}

.jobs li{
  margin-left: 21%;
  list-style: none;
  position: relative;
  bottom: 185px;
}


.jobs img{
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

/* - FIM VAGAS - */

#curriculos_content{
  width: 70%;
  margin-left: 21%;
  margin-bottom: 10px;
  bottom: 825px;
  position: relative;
}

.curriculum h5{
  color: #08c;
}

.curriculum a{
  text-decoration: none;
  color: #47ac82;
  font-weight: bolder;
  font-size: 18pt;
}

.curriculum li{
  list-style: none;
  padding: 10px;
}

.curriculum ul{
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  padding: 10px;
}

.footer{
  margin-top: 100px;
  text-align: center;
  padding: 10px;
  background: #3fa46a;
  bottom:0;
  width:98.5%;
}

.footer p{
  font-size: 15px;
  font-family: Raleway;
  color: #ffffff;
}


#content_geral{
  box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  background: #ffffff;
}

#content_geral h2{
  font-size: 17px;
  background: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
  color: #47ac82;
}

#content_geral h3{
  color: #474747;
}

